# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
/client/build
.env.local
.env.development.local
.env.test.local
.env.production.local

# MongoDB
/data/db

# Project specific
/temp
/output
*.h5
*.jpg
*.jpeg
*.png

# IDE
.vscode/
.idea/